<!--
  Generated template for the TypeZeroVerificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Type 0 Verif</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h3>Verificare tip 0. Text lung, mereu diferit</h3>

  <form [formGroup]="verificationForm"
        (ngSubmit)="submitVerificationForm(verificationForm.value)">
    <ion-item>
      <ion-input formControlName="userID"
                 name="userID"
                 class="error"
                 clearInput
                 placeholder="Type here ID of user you want to register"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea formControlName="verificationText"
                    name="verificationText"
                    placeholder="Type down the Enroll Text"
                    clearInput
                    rows="3"
                    #verificationTextArea>
      </ion-textarea>
    </ion-item>

    <p>Enrollment Text: </p>
    <p class="text-to-copy">{{textToCopy}}</p>

    <p>Response : </p>
    <pre>{{apiResponse | json}}</pre>

    <button ion-button [disabled]="!verificationForm.valid">Send to API</button>
  </form>

</ion-content>
