<!--
  Generated template for the TypeOneVerificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Type One Verif</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h3>Verificare tip 1. Text scurt, mereu acelasi</h3>

  <form [formGroup]="verificationForm"
        (ngSubmit)="submitEnrollmentForm(verificationForm.value)">
    <ion-item>
      <ion-input formControlName="userID"
                 name="userID"
                 clearInput
                 placeholder="Type here ID of user you want to register"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input    formControlName="verificationText"
                    name="verificationText"
                    placeholder="Type down the Enroll Text"
                    clearInput
                    rows="3"
                    #verificationText>

      </ion-input>
    </ion-item>

    <p>Enrollment Text: </p>
    <p class="text-to-copy">{{textToCopy}}</p>

    <p>Response : </p>
    <pre>{{apiResponse | json}}</pre>

    <button ion-button [disabled]="!verificationForm.valid">Send to API</button>

    <p>Typing pattern : </p>
    <p>{{typingDNAinstance.getTypingPattern({type: 0, length: textLength})}}</p>

  </form>

</ion-content>
