<script src="type-one-register.ts"></script>
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Type One Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Inregistrare tip 1. Text scurt, mereu acelasi</h3>

  <form [formGroup]="enrollmentForm"
        (ngSubmit)="submitEnrollmentForm(enrollmentForm.value)">
    <ion-item>
      <ion-input formControlName="userID"
                 name="userID"
                 clearInput
                 placeholder="Type here ID of user you want to register"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input    formControlName="enrollmentText"
                    name="enrollmentText"
                    placeholder="Type down the Enroll Text"
                    clearInput
                    rows="3"
                    #enrollmentText>

      </ion-input>
    </ion-item>

    <p>Enrollment Text: </p>
    <p class="text-to-copy">{{textToCopy}}</p>

    <p>Response : </p>
    <pre>{{apiResponse | json}}</pre>

    <button ion-button [disabled]="!enrollmentForm.valid">Send to API</button>

  </form>

</ion-content>
